@import "../../../styles/ThemeColors";

.navbar {
  background-color: #eee;
  margin-bottom: 24px;

  .nav {
    align-items: center;
  }

  .nav-link {
    padding-top: 12px;
    color: $secondary;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;

    svg {
      margin-right: 5px;
    }

    &:hover {
      color: $primary;
    }
  }
}

// LeftNavigator.scss
.left-sidebar {
  background-color: $primary;
  min-height: 100vh;
  border-right: 1px solid #dee2e6;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 261px;

  a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: white;

    &:hover {
      text-decoration: none;
      background-color: #e9ecef;
    }
  }
}

.brand-name {
  margin-left: 10px;
  font-size: 1.5rem;
  color: white !important;
}

.navbar-brand {
  padding: 0;
}

.nav-links {
  flex-grow: 1;
  font-size: 1.3rem !important;
}

.about-link {
  margin-bottom: 10px;
  color: $primary;
}

