.block-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  color: white;

  .text-center {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    img {
      margin: 2rem 0;
    }
  }
}