@import "../../styles/ThemeColors";

.navbar {
  background-color: #eee;
  margin-bottom: 24px;

  .nav {
    align-items: center;
  }

  .nav-link {
    padding-top: 12px;
    color: $secondary;
    font-family: 'Quicksand', sans-serif;
    //font-size: 3rem;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;

    svg {
      margin-right: 5px;
    }

    &:hover {
      color: $primary;
    }
  }
}

// LeftNavigator.scss
.left-sidebar {
  min-height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.left-sidebar a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.left-sidebar a:hover {
  text-decoration: none;
  background-color: #e9ecef;
}

.brand-name {
  margin-left: 10px;
  font-size: 1.2rem;
}

.navbar-brand {
  padding: 0;
}

.nav-links {
  flex-grow: 1;
  font-size: 18px !important;
}

.about-link {
  margin-bottom: 10px;
  color: $primary;
}

