@import "./ThemeColors";

h1 {
  font-family: 'Quicksand', sans-serif;
  color: $primary;
  font-weight: 700;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: $primary;
  font-weight: 700;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: $primary;
  font-weight: 700;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color: $primary;
  font-weight: 700;
}
